*
{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 1.5s;
}
.full_website
{
    height: auto;
    width: 100%;
}
/* first section  */
.background
{
    background-image: url(images/background3.jpg);
    background-size: cover;
    height: 660px;
    opacity: .9;
}

.first_section
{
    height: 100px;
    margin-bottom: 150px;
}
.logo
{
    width: 40%;
    float: left;
    color: blanchedalmond;
    margin: 20px 0px;
    padding: 5px 0px;
    text-align: center;
    border: 3px solid aqua;
    border-radius: 25px;
    
}
.logo h1
{
    margin: 0 auto;
}
.menu
{
    width: 40%;
    float: right;
    padding: 30px 0px;
    margin-right: 2%;
    
}
.menu ul
{
    text-align: end;
    list-style-type: none;
    
}
.menu ul li
{
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid aqua;
    border-radius: 25px;
    margin-right: 15px;
}
.menu ul li a
{
    text-decoration: none;
    color: white;
}
.menu ul li:hover
{
    background-color: aqua;
}
.menu ul li a:hover
{
    color: chocolate;
}


.content
{
    margin: 0 auto;
    margin-inline: 20%;
    font-size: x-large;
}
.content h4
{
    text-align: left;
    color: whitesmoke;
    margin-top: 15px;
}
.content h1
{
    text-align: left;
    color: blanchedalmond;
    margin-top: 15px;
}
.content h3
{
    text-align: left;
    color: whitesmoke;
    margin-top: 15px;
}
/* second section  */

.section2
{
    background-size: cover;
    height: auto;
    opacity: .7;
    padding-bottom: 20px;
    margin-bottom: 150px;
}

.about_me
{
    margin: 0 auto;
    padding: 5px 0px;
    text-align: center;
    
}
.about_me h1
{
    color: #c49248;
    margin: 0 auto;
    text-transform: uppercase;
    border: 2px dashed aqua;
    border-radius: 25px;
    margin-top: 25px;
    width: fit-content;
    padding: 10px 30px;
}
.view_flex
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 10px;
    flex-basis: 30%;
}
.leftside_content
{
    width: 30%;
}
.leftside_content h1
{
    margin-bottom: 15px;
    font-size: xx-large;
}
.leftside_content p
{
    text-align: start;
}
.leftside_content ul
{
    list-style-type: none;
}
.far
{
    margin-right: 7px;
    font-size: 20px;
}
.fas
{
    margin-right: 7px;
    font-size: 20px;
}
.center_content img
{
    
    width: 250px;
    height: 250px;
    background-color: #ccb9b993;
    padding: 10px;
    border-radius: 50%;
}
.rightside_content
{
    width: 30%;
}
.rightside_content h1
{
    margin-bottom: 15px;
    font-size: xx-large;
}
.rightside_content ul
{
    list-style: none;
}
.rightside_content ul li i
{
    color: black;
    border: none;
    padding: 5px;
    font-size: 20px;
}
.rightside_content ul li i:last-child
{
    margin-right: 5px
}
.icons
{
    margin-left: 25%;
}
.icons i
{
    margin-bottom: 20px;
    margin-left: 20px;
    color: black;
    border: 1px solid black;
    padding: 5px;
    border-radius: 50%;
}
.icons i:hover
{
    background: black;
    color: white;
}
/* section three  */

.section3
{
    height: 570px;
    background-image: url(images/background2.jpg);
    background-position: center;
    background-size: cover;
    opacity: .6;
}
.contact_me
{
    margin: 0 auto;
    padding: 5px 0px;
    text-align: center;
}
.contact_me h1
{
    color: #c49248;
    margin: 0 auto;
    border: 2px dashed aqua;
    border-radius: 25px;
    margin-top: 25px;
    width: fit-content;
    padding: 10px 30px;
    text-transform: uppercase;
}
.form
{
    margin-left: 10%;
    margin-top: 50px;
    width: 30%;
    border:  1px solid aqua;
    border-radius: 30px;
    box-shadow: 8px 8px 16px;
    padding: 50px;
}
.name
{
    width: 60%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    box-shadow: 0px 2px 4px;
    margin-bottom: 20px;
}
.email
{
    width: 60%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    box-shadow: 0px 2px 4px;
    margin-bottom: 20px;
}
.comment
{
    width: 60%;
    height: 60px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 2px 4px;
}
.submit
{
    width: 40%;
    padding: 10px;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 2px 4px;
    margin-top: 25px;
    transition: .7s;
}
.submit:hover
{
    color: white;
    background-color: gray;
}
/* bottom section  */

.copyright
{
    text-align: center;
    color: white;
    background-color: grey;
}



@media (max-width:750px){

    .logo
    {
        padding: 9px 12px;
        width: 28%;
        margin: 20px 5px;
    }
    .logo h1
    {
        font-size: x-large;
    }
    .menu
    {
        min-width: 62%;
    }
    .menu ul li
    {
        margin-right: 6px;
        padding: 10px 11px;
        border-radius: 20px;
    }
    .leftside_content
    {
        min-width: 80%;
        height: 270px;
    }
    .center_content
    {
        
        margin: 30px 50%;
    }
    .rightside_content
    {
        min-width: 80%;
        height: 270px;
    }
    .form
    {
        min-width: 60%;
    }
    .copyright
    {
        font-size: smaller;
    }

}
